<div class="actions">
  <%= link_to 'New Article', new_article_path, class: 'button'%>
</div>
<h1 id="page-title">Stuff Written</h1>
<% @articles.each do |article| %>
  <div id="post-wrapper" class="skinny-wrapper">
    <div class="post">
      <p class="date">
        <%= article.created_at.strftime("%m/%d/%Y") %>
      </p>
      <h2 class="title"><%= link_to article.title, article_path(article) %></h2>

      <hr>
      <p><%= article.content %></p>
    </div>
<% end %>

  <br>

</div>
