<div class="actions">
  <% if user_signed_in? && current_user.email == 'warren@katapultmedia.com' %>
    <%= link_to 'New Article', new_article_path, class: 'button'%>
  <% end %>
</div>
<h1 id="page-title">Stuff Written</h1>
<div id="post-wrapper" class="skinny-wrapper">

<% @articles.each do |article| %>
    <div class="post">
      <p class="date">
        <%= article.created_at.strftime("%m/%d/%Y") %>
      </p>
      <h2 class="title"><%= link_to article.title, article_path(article) %></h2>

      <hr>
    </div>
<% end %>


</div>
