<h1 id="page-title">Say Hello</h1>


<div class="skinny-wrapper wrapper-padding">
  <label>Name</label>
  <br>
  <input type="text">
  <br>

  <label>Email</label>
  <br>
  <input type="text">
  <br>
  <label>Message</label>
  <br>
  <textarea></textarea>
  <br>
  <input type="submit" value="Send Message" class="button">
</div>
