<div class="wrapper wrapper-padding clearfix">
  <div class="col-1 homepage-content">
    <h2>About</h2>
    <hr><p>[{"id":1,"name":"
      Copying and Pasting from
      Stack Overflow","created_at":"2017-01-25T23:32:17.800Z","updated_at":"2017-01-25T23:32:17.800Z"},{"id":2,"name":"Trying Stuff Until it Works","created_at":"2017-01-25T23:32:17.810Z","updated_at":"2017-01-25T23:32:17.810Z"}]
    </p>
  </div>
  <div class="col-2 homepage-content">
    <h2>Stuff I have Written</h2>
    <hr>
    <h3><a href="">Todo List</a></h3>
    <p class="date">Friday April 20th</p>
  <h3><a href=""</a>Usg Forum</h3>
    <p class="date">Friday April 20th</p>
    <h3><a href="">Kem Foundation</a></h3>
    <p class="date">Friday April 20th</p>
    <h3><a href="">Portfolio</a></h3>
    <p class="date">Friday April 20th</p>
  </div>
  <div class="col-3 homepage-content">
    <h2>Stuff I have Built</h2>
    <hr>
    <h3>The do list</h3>
    <p class="date">Friday April 20th</p>
    <h3>The do list</h3>
    <p class="date">Friday April 20th</p>
    <h3>The do list</h3>
    <p class="date">Friday April 20th</p>
    <h3>The do list</h3>
    <p class="date">Friday April 20th</p>
  </div>

</div>
