<div class="wrapper wrapper-padding clearfix">
  <div class="col-1 homepage-content">
    <h2>About</h2>
    <hr><p>Hi I am Warren a Web Developer/Designer
    </p>
  </div>
  <div class="col-2 homepage-content">
    <h2>Stuff I have Written</h2>
    <hr>
    <% @articles.each do |article| %>
      <h3><%= link_to article.title, article_path(article) %></h3>
      <p class="date"><%= article.created_at.strftime("%A, %B, %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage-content">
    <h2>Stuff I have Built</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project_path(project) %></h3>
      <p class="date"><%= project.created_at.strftime("%A, %B, %d") %></p>
    <% end %>
  </div>

</div>
