<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A user has sent you a <bold>Contact Message</bold> from your portfolio site here is the message: <br></h1>
    From:<%= @contact.name %> | Email: <%= @contact.email %>   <br>
    Message:<p><%= @contact.message %></p>
  </body>
</html>
